@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: #333;
  font-weight: 500;
  background-color: #f5f5f5;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.app.dark {
  background-color: #121212;
  color: #f5f5f5;
}

h1 {
  text-align: center;
  background-color: #4a90e2;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.3rem 0;
  color: #fff;
}

.add-form {
  background-color: #f0f0f0;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-bottom: 1px solid #ddd;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
  color: #333;
}

button,
select,
input {
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

input,
select {
  border: #4a90e2 2px solid;
}

input:focus,
select:focus {
  outline: none;  
}

input[type="text"] {
  cursor: text;
}

.add-form button {
  text-transform: uppercase;
  background-color: #4a90e2;
  color: #fff;
  transition: 0.3s;
}

.add-form button:hover {
  background-color: #357ab8;
}

.list {
  background-color: #fff;
  color: #333;
  padding: 4rem 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
  background-color: #4a90e2;
  color: #fff;
  border-radius: 5rem;
}

.list ul {
  list-style: none;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
  max-height: 28rem;  
  overflow-y: auto;   
  padding: 0.5rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: #f9f9f9;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.list li span {
  word-break: break-word; 
  overflow-wrap: anywhere;
  max-width: 100%; 
}


input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #4a90e2;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
  color: #e74c3c;
}

.list li button:hover {
  transform: translateY(0);
}

.stats {
  background-color: #4a90e2;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 2.2rem 0;
}
